* {
    margin: 0;
    padding: 0;
  }
body{
  background-image: url(../img/fondo1.png);
  background-size:cover;
}    
  /*maqueta pagina principal*/
  #grilla {
    overflow-x: hidden;
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 100%;
  }
  .header {
    grid-area: header;
  }
  .main {
    grid-area: main;
  }
  .footer {
    grid-area: footer;
  }
@import "variable-mixin-maps";
@import "fonts";
  /******INDEX******/
@import "inicio";
/******SOBRE MI******/
@import "sobre-mi";
/*****PROYECTOS*****/
@import "proyectos";
/*****SERVICIOS*****/
@import "servicios";
/*****CONTACTO*****/
@import "contacto";